.Button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:not(.link) {
        // padding: 4px;
        border-radius: 2px;
    }
    &--green {
        padding: 2px 8px;
        background-color: $green;
        color: $white;
    }
    &--red {
        padding: 2px 8px;
        background-color: $red;
        color: $white;
    }
    &--blue {
        padding: 2px 8px;
        background-color: $blue;
        color: $white;
    }
}

.outside-click {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $overlay;
}
