.Header {
    display: flex;
    box-shadow: $box-shadow;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5em 1em;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;

    @media only screen and (min-width: $nav-breakpoint) {
        justify-content: flex-start;
    }
}
