.Tabs {
    position: relative;
    padding-bottom: -1px;
    border-bottom: 1px solid $gray;
    max-width: 50em;

    &::after {
        //! Add a fadeout for the tabs on small screens
        content: '';
        z-index: 999;
        width: 10vw;
        max-width: 64px;
        background-image: linear-gradient(to left, $white, rgba($white, 0));
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        pointer-events: none;
    }
    &__tab-container {
        white-space: nowrap;
        width: 100%;
        overflow-x: scroll;

        //! Remove scrollbars
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar { width: 0 !important }
        &::-webkit-scrollbar-thumb { width: 0 !important }
        scrollbar-width: none;
    }
    &__tab {
        display: inline-block;
        color: $gray;
        cursor: pointer;

        &--active {
            color: $black;
            font-weight: 800;
            border-bottom: 2px solid $blue;
        }
        &--danger--active {
            font-weight: 800;
            border-bottom: 2px solid $red;
        }
        &__button {
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            &:focus {
                outline: none;
            }
            &--danger {
                color: $red;
            }
            input {
                display: none;
                appearance: none;
            }
        }
    }
}
