@import 'vars';

.ToolsTable {
    border-collapse: collapse;

    thead, tbody, tr, td {
        // border: 1px solid black;
    }
    &__head {
        border-bottom: 1px solid black;

        &__cell {
            font-family: $sans;
            padding: .5em;
            text-align: left;
        }
    }
    &__body {

        &__cell {
            font-family: $sans;
            font-weight: 400;
            padding: .5em;
            text-align: left;
        }
    }
}

.ToolListing {
    font-family: $sans;
    // cursor: pointer;

    // &:hover {
        // color: #333;
    // }
}

.AdminNav {
    margin: 1em 0;
    border-bottom: 1px solid black;
    max-width: 30em;
    font-family: $sans;

    ul {
        list-style-type: none;
        display: flex;
    }

    &__tab {
        padding: .2em .4em;

        a {
            color: inherit;
            text-decoration: none;

            &:focus {
                outline: none;
            }
        }
        &--current {
            font-weight: bold;
            color: blue;
        }
    }
}

.AddFormWrapper {

    &__button {
        font-family: $sans;
        color: white;
        background-color: #3D9970;
        padding: .2em .4em;
        list-style-type: none;
        display: inline-block;
        cursor: pointer;
        margin-left: 1em;

        &::marker,
        &::-webkit-details-marker {
            display: none;
        }
    }
}

.AddForm {
    position: fixed;
    background-color: white;
    max-width: 40em;
    padding: 1em;
    border: 1px solid black;

    &__input {
        display: block;

        input {
            background-color: white;
            border: 1px solid gray;
            border-radius: 4px;
            padding: .4em;
        }
        &__label {
            display: block;
        }
    }
}
