.Button {
    font-family: $sans;
    padding: .3em .4em;

    &, a {
        text-decoration: none;
        color: white, inherit;
    }

    &--green { background-color: $green; color: $white; }
    &--red { background-color: $red; color: $white; }

    &--sm {}
    &--md {}
    &--lg {}

    &--inline { display: inline }
    &--block { display: inline-block  }
}

.TextBox {
    
}
