@import 'vars';
@import 'reset';
@import url("https://use.typekit.net/onn4bjp.css");

// GENERAL
.Header {
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__title {
        z-index: 1;

        p {
            font-family: 'din-2014';
            font-size: 2rem;
            color: white;
            background-color: black;
            padding: 0 0 0 .5em;
            position: relative;
            z-index: 99;
    
            &::after {
                // The 20 degree angle for the logo/header
                content: "";
                position: absolute;
                top: 0;
                right: -1em;
                width: 1.5em;
                height: 100%;
                background: black;
                transform: skew(-20deg);
                z-index: -1;
            }
    
            a {
                color: inherit;
                text-decoration: none;
                font-style: inherit;
                transform: skew(-20deg);
                display: block;
            }
        }
    }
}

.Nav {
    display: none;
    position: absolute;
    width: 10em;
    top: 100%;
    right: 0;
    box-shadow: 0px 2px 10px rgba(78,78,78,0.4);
    background-color: white;
    z-index: $z-nav;
    padding: .5em;

    &__menu {
        list-style-type: none;

        &__item {
            font-size: 1.2em;
            font-family: 'din-2014';

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

.Nav-trigger {
    position: relative;
    z-index: $z-nav-trigger;
    top: 0;
    right: 0;
    margin-top: .5em;
    margin-right: 1em;
    width: 1.5em;
    height: 1.5em;

    input {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;

        &:focus + label svg, &:hover + label svg {
            stroke: #888;
        }
    }
    &__icon {
        display: block;

        svg {
            width: 100%;
            height: 100%;
            display: block;
            stroke: #000;

            &.icon--x {
                display: none;
            }
        }
    }
    input:checked ~ label {
        svg.icon--x { display: block; }
        svg.icon--menu { display: none; }
        & ~ .Nav { display: block; }

        &.Nav-trigger__overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: $z-nav-overlay;
            background: rgba(239,239,239,0.2);
        }
    }
}

.Profile {
    // border-bottom: 2px solid black;

    &__link {
        font-size: 1.2em;
        font-family: 'din-2014';
        color: inherit;
        text-decoration: none;
    }
}

.title {
    font-size: 2rem;
    font-family: 'din-2014';
    font-style: italic;
    font-weight: bold;
    margin-bottom: .5em;
    margin: .5em 0 .25em .25em;
    text-align: center;
}

// TOOLS
.ToolCategory {
    font-family: 'din-2014';
    margin: 0 auto 2em;
    text-align: center;

    &__title {
        font-size: 1.5em;
        font-style: italic;
        font-weight: bold;
        margin-bottom: .75em;
    }
    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin-bottom: 1em;
    }
    &__tool a {
        margin: 0 1em .75em;
        border: 2px solid black;
        padding: .2em .4em;
        color: inherit;
        text-decoration: none;
        transition: background .15s;
        white-space: nowrap;
        display: block;

        &:hover {
            background: #eee;
        }
    }
}

// Training
.Checklist {
    padding: .5em;

    &__title {
        font-size: 2em;
        font-family: 'din-2014';
        font-style: italic;
    }
    &__item {
        font-size: 1.25em;
        font-family: 'din-2014';
        font-style: italic;

        &__checkbox {

            &:disabled + .Checklist__item__label {
                color: #999;
            }
        }
        &__label {

            a {
                color: inherit;
            }
        }
    }
    
}
