.Page {
    padding: 1em;

    &__header {
        margin-bottom: 1em;

        &--flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__title {
            font-size: 2em;
            font-family: $sans;
            // @extend %oblique;
        }
        &__details {
            font-family: $sans;
        }
    }
}
