.Training {

}

.Checklist {
    display: block;
    margin: 2em 0;
}

.Checkbox {
    font-size: 1.25em;
    font-family: 'din-2014';
    font-style: italic;
    color: #616161;
    margin-bottom: 2.4em;

    &__flex {
        display: flex;
    }
    &__input {
        &:checked + .Checkbox__icon {
            border: 2px solid $green;

            svg {
                display: block;
            }
        }
        &:disabled + .Checkbox__icon {
            border: 2px solid $gray;
        }
    }
    &:last-child {
        margin-bottom: 0;

        .Checkbox__icon::after {
            display: none;
        }
    }
    &__icon {
        display: inline-block;
        height: 1.4em;
        width: 1.4em;
        position: relative;
        border-radius: .25em;
        border: 2px solid $black;
        vertical-align: text-bottom;
        margin-right: .5em;
        cursor: pointer;

        @at-root .Checklist {
            .Checkbox__icon::before, .Checkbox__icon::after {
                content: "";
                height: 100%;
                position: absolute;
                display: block;
                border-left: 1px solid #616161;
                left: 50%;
                cursor: default;
            }
            .Checkbox__icon::before {
                top: -1.3em;
            }
            .Checkbox__icon::after {
                bottom: -1.3em;
            }
        }
        svg {
            display: none;
            stroke: $green;
            stroke-width: 3;
            margin-top: 1px;
            width: 90%;
            height: 90%;
            margin: 10% 0 0 5%;
        }
    }
    &__label {
        flex-shrink: 999;
    }
}

.AuthorizeButton {
    display: block;
    width: 100%;
    padding: .25em;
    border: 2px solid $black;
    border-radius: .25em;
    margin-bottom: 2em;

    &:disabled {
        border: 2px solid $gray;
        color: $gray;
        cursor: default;
    }

    &__button {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        display: inline-block;
        margin-right: .5em;
    }
    &__label {
        display: inline;
    }
}
