<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('public.static', filename='training.css')}}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper" style="min-height: 100vh; position: relative; overflow: auto;">
        {% include 'modules/header.j2' %}
        {% block page %}{% endblock %}
    </div>
</body>
</html>
