.errorhandler {
    max-width: 38rem;
    margin:  2em auto;
    padding: 2rem;
    box-shadow: 0 0 0 1px $red;
    border-radius: 3px;
    font-family: $sans;

    &__title {
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    &__error {
        font-size: 1.25em;
        font-weight: 700;
        color: $red;
        margin-bottom: 1em;
    }
    &__location {
        font-size: 1.25em;
        margin-bottom: 1em;
        display: block;
    }
    &__details {
        font-size: 1em;
    }
}
