<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tools.Olin.Edu</title>
    </head>
    <body>
        {% include "flash.j2" %}
        <noscript>You need to enable JavaScript to run this application</noscript>
        <div id="root"></div>
    </body>
</html>
