<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('public.static', filename='build/index.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header class="page-header">
            <h1>Tools.Olin</h1>

        </header>
    </div>
</body>
</html>
