{% extends "base.j2" %}
{% block page %}
<main class="wrapper">
	<h1 class="title">Tools</h1>
	
	{% for tool in tool_list %}
		{{ tool.name }}
	{% endfor %}

	{% for tool_category in tool_object %}
		<div class="ToolCategory">
			<h2 class="ToolCategory__title">{{ tool_category }}</h2>
			<ul class="ToolCategory__list">
				{% for tool in tool_object[tool_category] %}
				<li class="ToolCategory__tool"><a href="/tools/{{ tool.shortname }}">{{ tool.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</main>
{% endblock %}
