{% extends "base.j2" %}
{% block page %}
<main class="Page">
    <header class="Page__header">
        <h1 class="Page__header__title">{{ tool.name }}</h1>
        <div class="Page__header__details">
            Category: {{ tool.category.name }}
        </div>
    </header>
    <div>
        <a href="/trainings/{{ tool.shortname }}" class="Button">Begin Training</a>
        <!-- <a href="/trainings/{{ tool.shortname }}">Continue Training</a> -->
        <!-- <p>You're already trained!</p> -->
    </div>
</main>
{% endblock %}
