{% extends "base.j2" %}
{% block page %}
<main class="Page">
    <header class="Page__header  Page__header--flex">
        <h1 class="Page__header__title">Trainings</h1>
        <a href="/trainings/new/" class="Button  Button--green  Button--block">New Training</a>
    </header>



    <ul class="TrainingList">
    {% for training in trainings %}
        <li class="TrainingList__item">
            <div>
                <a href="/trainings/{{training.id}}">{{ training.tool.name }}</a>
                <svg
                  class="TrainingList__item__icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <polyline points="9 18 15 12 9 6" />
                </svg>
                <div class="TrainingList__item__details">
                    Started: {{ training.started.strftime('%m-%d-%Y') }}
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</main>
{% endblock %}
