{% extends "base.j2" %}
{% block page %}
    <a href="/trainings/new/">New Training</a>

    {% for training in trainings %}
        {{ training.tool.name }}
        <a href="/trainings/{{training.id}}">View Training</a>
    {% endfor %}
{% endblock %}
